
<div class="productmain">

<h2 class="cart"> Cart</h2>
  <div class="col-sm-4">
   
  <div class="card" style="width: 15rem;height:40px">
     {{!-- {{#each result}} --}}
  <img src="/images/shoes.jpeg"height="180px" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title" name="user_id"></h5>
    <p class="card-text" name="product_id"></p>
     <p class="card-text">white</p>
    <a href="/cart" class="btn btn-primary">Remove</a>
    {{!-- <a href="#" class="btn btn-primary">Buy Now</a> --}}
    
  </div>
   {{!-- {{/each}} --}}
  </div>
</div>
 
</div>
</div>